# Bağımlılıklar (En büyük dosya boyutu sebebi budur)
node_modules/

# Expo ve Build klasörleri
.expo/
dist/
web-build/

# Native klasörler (Bunları EAS sunucusu sıfırdan üretmeli)
android/
ios/

# Git dosyaları
.git/

# Hata ayıklama ve sistem dosyaları
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store

# Çevre değişkenleri (Güvenlik için yüklenmemeli, EAS Secrets'a eklenmeli)
.env
.env.*